* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: contain;
}

body {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  background-image: url(./coding-bootcamp-testimonials-slider-master/images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .main-section {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
  width: 100%;
  height: 100vh;
  align-items: center;
}
body .main-section .section-info {
  background-image: url(./coding-bootcamp-testimonials-slider-master/images/pattern-quotes.svg);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-repeat: no-repeat;
  background-size: 20% 20%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  color: hsl(240deg, 38%, 20%);
  align-items: center;
  padding: 40px;
  background-position: center top;
}
body .main-section .section-info p {
  font-size: 28px;
}
body .main-section .section-info .section-info-names {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}
body .main-section .section-info .section-info-names .name {
  color: hsl(240deg, 38%, 20%);
  font-size: 16px;
  font-weight: 700;
}
body .main-section .section-info .section-info-names .info {
  font-size: 16px;
  color: hsl(240deg, 18%, 77%);
}
body .main-section .section-img {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(./coding-bootcamp-testimonials-slider-master/images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  justify-content: center;
  background-position: center;
}
body .main-section .section-img div {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 500px;
  position: relative;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
body .main-section .section-img div img {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body .main-section .section-img div div {
  display: flex;
  flex-direction: row;
  max-width: 100px;
  max-height: 50px;
  position: absolute;
  bottom: -20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;
}
body .main-section .section-img div div .button-left {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  padding: 10px;
  background-image: url(./coding-bootcamp-testimonials-slider-master/images/icon-prev.svg);
  background-size: 15px 18px;
  background-position: center;
  border: none;
  border-radius: 50px 0 0 50px;
  background-color: white;
}
body .main-section .section-img div div .button-rigth {
  background-color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  padding: 10px;
  background-image: url(./coding-bootcamp-testimonials-slider-master/images/icon-next.svg);
  background-size: 15px 18px;
  background-position: center;
  border: none;
  border-radius: 0 50px 50px 0;
}
body .main-section .section-img div div .button-left:hover {
  background-color: hsl(240deg, 18%, 77%);
}
body .main-section .section-img div div .button-rigth:hover {
  background-color: hsl(240deg, 18%, 77%);
}